# Example .env file; rename this one and edit the secrets below
# Keep your .env out of version control
http_proxy=http://my-hospital.nhs.uk:1234/
HTTP_PROXY=http://my-hospital.nhs.uk:1234/
https_proxy=http://my-hospital.nhs.uk:1234/
HTTPS_PROXY=http://my-hospital.nhs.uk:1234/

SLACK_URL_BOT=https://hooks.slack.com/services/YOUR_WEBHOOK_URL_WILL_BE_A_LONG_STRING
